<p class="post-info">
  <% if (post.author) { %>
  <span class="post-info-item author"><%- post.author %></span>
  <% } %>
  <% if (theme.waline.enabled) { %>
  <a href="<%- url_for(post.path) %>#waline" class="post-info-item comment-count waline-comment-count" id="<%- url_for(post.path).replace('index.html', '') %>">获取中...</a>
  <span class="post-info-item view-count waline-visitor-count" id="<%- url_for(post.path).replace('index.html', '') %>">获取中...</span>
  <% } %>
</p>