body
  font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif
  text-rendering: optimizelegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-weight: 400
  font-size: 16px
  word-spacing: 1px
  color: #666
  margin: 0
  display: flex
  flex-direction: column
  min-height: 100vh

h1, h2, h3, h4, h5, h6
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif
  font-weight: 400
  color: #444

a
  color: #666
  text-decoration: none
  transition: color 0.2s ease, border-color 0.2s ease

p.post-info, .article-tag-list
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif
  font-size: 13px
  color: #999
  letter-spacing: 1px
  .post-info-item
    margin-right: 20px
  span.author:before
    content: "✍"
  a.comment-count:before
    content: "💬"
  span.view-count:before
    content: "👀"

#main ul.article-tag-list
  display: flex
  justify-content: flex-start
  list-style-type: none
  flex-wrap: wrap
  padding-inline: 0
  padding: 0 !important
  .article-tag-list-item
    margin-right: 13px
  .article-tag-list-item::before
    position: relative !important
    content: "📁"
  .article-tag-list-item:hover::before
    content: "📂"