@import "fonts/google"
@import "config"
@import "common"

@import "_partial/header"

#main
  max-width: 750px
  margin: 50px auto
  padding: 0 30px 50px
  position: relative

@import "_partial/archive"
@import "_partial/archive-post"
@import "_partial/article"
@import "_partial/footer"
@import "response"
