<footer>
  <% if (theme.icp) { %>
  <p><%- theme.icp %></p>
  <% } %>
  <% if (theme.counter.enabled) { %>
  <p>
    本站访问量
    <span id="syy11cn" class="leancloud_visitors" data-flag-title="syy11cn">
      <i class="leancloud-visitors-count"></i>
    </span>
  </p>
  <% } %>
  <p>
    Powered by <a href="https://hexo.io">Hexo</a> | Theme <a href="https://github.com/syy11cn/hexo-theme-linear">Linear</a> from <a href="https://syy11.cn">Yiyang Sun</a>
  </p>
</footer>