<footer>
  <% if (theme.icp) { %>
  <p><%- theme.icp %></p>
  <% } %>
  <% if (theme.counter.enabled) { %>
  <p id="busuanzi_container_site_pv">
    本站访问量 <span id="busuanzi_value_site_pv">获取中...</span>
  </p>
  <% } %>
  <p>
    Powered by <a href="https://hexo.io">Hexo</a> | Theme <a href="https://github.com/syy11cn/hexo-theme-linear">Linear</a> from <a href="https://syy11.cn">Yiyang Sun</a>
  </p>
</footer>