<div id="vcomments"></div>
<script>
  new Valine({
    el: '#vcomments',
    appId: '<%- theme.valine.appId %>',
    appKey: '<%- theme.valine.appKey %>',
    placeholder: '<%- theme.valine.placeholder %>',
    avatar: 'retro',
  })
</script>