footer
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: flex-end
  font-size: 13px
  p
    text-align: center
    margin: 0 0 15px
  a
    color: theme-color
    border-bottom: 2px solid transparent
  a:hover
    border-bottom-color: theme-color
