header
  margin: 50px auto 50px
  text-align: center
  .site-title
    letter-spacing: 6px
    margin-bottom: 20px
    a
      font-size: 15px
      color: #444
  .site-subtitle
    letter-spacing: 3px
    font-size: 13px
    margin-bottom: 20px
  .links
    color: #999
    font-size: 24px
    margin: 0
    a
      padding: 2px
      margin: 0 3px
      img
        width: 15px
        height: 15px